.wrapper {
  height: 100%;
  position: relative;
  width: 33.33%;
  overflow: hidden;
  padding: 40px;
  transition: 0.3s;
  cursor: default;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
    padding: 30px 20px 20px;
  }

  @media screen and (max-width: 745px) {
    padding: 30px 10px 10px;
  }

  &_hidden {
    width: 5%;
    align-items: center;

    @media screen and (max-width: 1080px) {
      width: 10%;
    }

    @media screen and (max-width: 745px) {
      width: 15%;
    }

    @media screen and (max-width: 375px) {
      width: 10%;
    }
  }

  &_expanded {
    width: 90%;

    .longDescription {
      height: 30px !important;
    }
  }
}

.expandedItem {
  position: relative;
  width: 100%;
  transition: 0.3s;
  margin-top: 10vh;
}

.text {
  position: relative;
  transition: 0.3s;
  top: 60vh;

  &_hidden {
    top: 0vh;
    display: flex;
    justify-content: center;
  }

  &_expanded {
    top: 10vh;
  }
}

.header {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;

  @media screen and (max-width: 1080px) {
    font-size: 30px;
  }

  @media screen and (max-width: 745px) {
    font-size: 20px;
  }

  @media screen and (max-width: 500px) {
    font-size: 15px;
  }

  &_hidden {
    writing-mode: vertical-rl;
  }
}

.longDescription {
  color: #fff;
  transition: 0.3s;
  overflow: hidden;
  height: 0;
  font-size: 20px;
  font-weight: bold;
  max-width: 100%;

  @media screen and (max-width: 1080px) {
    font-size: 15px;
  }

  @media screen and (max-width: 745px) {
    font-size: 13px;
  }

  @media screen and (max-width: 500px) {
    font-size: 11px;
  }

  &_hidden {
    opacity: 0 !important;
    display: none;
  }
}

.description {
  color: #fff;
  font-size: 16px;
  transition: 0.3s;

  @media screen and (max-width: 1080px) {
    font-size: 14px;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }

  &_hidden {
    opacity: 0;
    display: none;
  }
}

.wrapper:hover:not(.wrapper_hidden):not(.wrapper_expanded) {
  & .longDescription {
    height: 90px;
    opacity: 1;
    margin-top: 20px;

    @media screen and (max-width: 1080px) {
      height: 60px;
      margin-top: 10px;
    }

    @media screen and (max-width: 745px) {
      height: 70px;
    }
  }

  & .header {
    margin-top: -30px;
  }
}
