.wrapper {
  height: 100%;
  position: relative;
  width: 33.33%;
  overflow: hidden;
  padding: 40px;
}

.text {
  margin-top: 60vh;
}

.header {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.description {
  color: #fff;
  font-size: 16px;
}
