$bgColor: #f5f6f7;
$borderColor: hsla(206, 97%, 28%, 0.06);
$labelTextColor: hsla(0, 0%, 0%, 0.6);
$hrColor: hsla(0, 0%, 0%, 0.06);
$gradient1Color: #02518c;
$gradient2Color: #00cec2;
$userNameColor: hsla(0, 0%, 0%, 0.8);
$userPositionColor: hsla(0, 0%, 0%, 0.2);

$buttonBorderColor: hsla(206, 97%, 26%, 0.1);
$buttonTextColor: hsla(0, 0%, 0%, 0.8);

$popupBgColor: #f5f6f7;

$popupTextColor: hsla(0, 0%, 0%, 0.8);
