.button {
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  padding: 10px 30px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

  @media screen and (max-width: 470px) {
    font-size: 12px;
    padding: 5px 15px;
  }

  &:hover {
    padding: 10px 40px;

    @media screen and (max-width: 470px) {
      padding: 5px 20px;
    }
  }
}
