.chart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  width: 150px;
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.title {
  font-weight: bold;
  font-size: 10px;
}

.value {
  font-size: 20px;
  font-weight: bold;
}
